#headerbg{
  width: 100%;
  height: auto;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', 'Open Sans', sans-serif;

}

a{
  text-decoration: none;
  color: #DD8A29;
}

a:hover{
  text-decoration: underline;
  color: #DD8A29;
}

#siteName{
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 1em;
  padding-bottom: 1em;
}

header{
  overflow-y: hidden;
  width: 100%;

}

#navbar{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: rgba(254, 254, 254, 0.8);
  transition: transform 0.5s;

}

#navbar.hidden{
  transform: translateY(-100%);
}

#navbar div{
  display: inline-block;
}

#intro{
  /*background-image: url("bg.jpg");*/
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
}

div#nav{
  margin: 0;
}


#nav a{
  color: black;
  display: inline-block;
  text-decoration: none;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 1em;
  padding-bottom: calc(1em - 3px);
}

#nav a:hover{
  border-bottom: #E7BD23 solid 3px;
  color: #E7BD23;
}

#nav a.active{
  color: #DD8A29;
  border-bottom: #DD8A29 solid 3px;
}


#nav{
  float: right;
}

#content{
  max-width: 1000px;
  padding: 50px;
  min-width: available;
  margin: 0 auto;
}

h1 {
  font-size: 70px;
  color: #ffa500;
  font-weight: 500;
}

table{
  width: 100%;
  font-size: 1.2em;
  text-align: left;
  border-collapse: collapse;
  margin-bottom: 35px;
}

th, td{
  padding: 5px;
}

tbody tr {

}

tbody tr:nth-of-type(even){
  border-bottom: #e0e0e0 solid 1px;
}

tbody tr:nth-of-type(odd){
  background-color: #fcfcfc;
}

th{
  border-bottom: orange solid 2px;
}

address{
  margin-left: 40px;
}

iframe{
  width: 100%;
  height: 600px;
}

.right {
  float: right;
}

.reset {
  clear: both;
}

.button, input[type=submit], button {
  font-size: 1.15em;
  background-color: white;
  vertical-align: middle;
  padding: 5px;
  border: #eeeeee solid 2px;
  border-radius: 5px;
  color: orange;
}

.primary {
  background-color: orange;
  color: white;
  border-color: orange;
}

.button:hover, input[type=submit]:hover, button:hover{
  border: #DD8A29 solid 2px;
  background-color: white;
  color: #DD8A29;
}
